---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla Clon">
  <main>
    <section
      class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative flex justify-center"
    >
      <div class="text-white relative z-30 flex flex-col justify-between">
        <header class="">
          <h2 class="pt-20 text-[40px] font-medium">Model Y</h2>
          <p class="text-xl">Lease starting at $399/mo*</p>
        </header>
        <footer class="flex flex-col justify-between">
          <span class="text-sm font-medium pb-4">
            <a class="bg-white/70 text-black py-3 px-20 rounded mx-2">Custom Order</a>
            <a class="bg-black/70 py-3 px-20 rounded mx-2">Demo Drive</a>
          </span>
          <p class="text-xs py-5">
            *Excludes taxes and fees with price subject to change. Available in
            select states. <a
              href="https://www.tesla.com/modely/design?financeModalTab=finance_options#overview"
              >See Details</a
            >
          </p>
        </footer>
      </div>

      <div class="absolute top-0 bottom-0">
        <video
          autoplay
          muted
          loop
          class="object-cover object-center h-full w-screen"
          src="/Homepage-Model-Y-Desktop-NA-v2.mp4"></video>
      </div>
    </section>
  </main>
</Layout>
