<section
      class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative flex justify-center"
    >
      <div class="text-white relative z-30 flex flex-col justify-between">
        <header class="">
          <h2 class="pt-20 text-[40px] font-medium">Model Y</h2>
          <p class="text-xl">Lease starting at $399/mo*</p>
        </header>
        <footer class="flex flex-col justify-between">
          
        </footer>
      </div>

      <div class="absolute top-0 bottom-0">
        <video
          autoplay
          muted
          loop
          class="object-cover object-center h-full w-screen"
          src="/Homepage-Model-Y-Desktop-NA-v2.mp4"></video>
      </div>
    </section>